<!DOCTYPE html>
<html lang="en" ng-app="quantumofcells">
<head>
    <meta charset="UTF-8">
    <title>Quantum Of Cells</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="quantumofcells.css" />
    <link rel="stylesheet" href="assets/dist/qoc.css" />

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/highcharts/highcharts.js"></script>

    <!-- Angular dependencies -->
    <script src="js/qoc.js"></script>
    <script src="js/qoc-chart.js"></script>
    <script src="js/qoc-solver.js"></script>
</head>
<body ng-controller="QOCController">
    <div class="wrapper">
        <div class="header">
            <i class="fa fa-bars menu-button"></i>
            Quantum of Cells
        </div>

        <div class="toolbox">
            <div>
                <h2>Equations</h2>
                <div class="eqnRow" ng-repeat="eqn in equations">
                    <div class="symbol">
                        <input type="text" maxlength="2" ng-model="eqn.variable" />
                    </div>
                    <div class="value">
                        <input type="text" ng-model="eqn.expression" />
                    </div>
                    <i ng-click="deleteEquation($index)" class="fa fa-trash-o"></i>
                </div>
            </div>
            <p>
                <a href="" ng-click="addEquation()">Add an equation</a>
            </p>
           <div>
                <h2>Parameters</h2>

                <div class="eqnRow" ng-repeat="param in parameters">
                    <div class="symbol">
                        <input type="text" maxlength="2" ng-model="param.symbol" />
                    </div>
                    <div class="value">
                        <input type="text" ng-model="param.value" />
                    </div>
                    <i ng-click="deleteParameter($index)" class="fa fa-trash-o"></i>
                </div>
           </div>
           <p>
                <a href="" ng-click="addParameter()">Add a parameter</a>
                </p>
           <div>
                <h2>Simulate</h2>

                <div class="form-group">
                    <input type="number" ng-model="time">
                    <input type="number" ng-model="resolution">
                </div>

                <button ng-click="simulate()">Simulate</button>
           </div>
       </div>

        <qchart data="data" options="options"></qchart>
    </div>

    <script>
    $(function() {
        $(".menu-button").click(function() {
            $(".toolbox").slideToggle(300);
        });
        $(".panel-heading").click(function(e) {
            $(this)
                .siblings(".panel-body").slideToggle(300)
                .end()
                .find("i")
                .toggleClass("fa-angle-right")
                .toggleClass("fa-angle-down");
        });
    });
    </script>
</body>
</html>