.header {
    background: linear-gradient(to top, #181818, #333);
}

.toolbox {
    background: rgba(255, 255, 255, 0.9);
    border-left: 3px double #ccc;
    bottom: 0px;
    position: absolute;
    right: 0px;
    width: 400px;
    top: 36px;
    z-index: 10;
    
    h2 {
        margin: 0;
        padding: 7px 0px;
    }
    
    .eqnRow {
        border-top: 1px solid #ddd;
        box-sizing: content-box;
        display: flex;
        height: 36px;
        position: relative;

        &:last-child {
            border-bottom: 1px solid #ddd;
        }
        
        & > div {
            height: 100%;
        }
        
        &.smaller {
            height: 28px;
        }
        
        .symbol {
            &, input {background: #fee};
            border-right: 1px solid #ddd;
            flex: 0 1 auto;
            
            input {
                font-size: 20px;
                padding: 0px;
                text-align: center;
            }
        }
        
        .label {
            border-right: 1px solid #ddd;
            flex: 0 1 auto;
            font-size: 16px;
            line-height: 28px;
            padding: 0px 7px;
        }
        
        .value {
            &, input {background: #efe};
            flex: 1 1 auto;
        }
        
        .delete {
            bottom: 4px;
            color: #fbb;
            cursor: pointer;
            font-size: 20px;
            position: absolute;
            right: 8px;
        }
    }
    
    input {
        border: 0;
        box-sizing: border-box;
        font: 300 14px "Open Sans";
        height: 100%;
        padding: 0px 4px;
        width: 100%;
    }
    
    p {
        font-size: 16px;
        margin: 7px;
        text-align: center;
    }
}