.header {
    background: linear-gradient(to top, #181818, #333);
}

.toolbox {
    background: rgba(255, 255, 255, 0.9);
    border-left: 3px double #ccc;
    bottom: 0px;
    position: absolute;
    right: 0px;
    width: 400px;
    top: 36px;
    z-index: 10;
    
    h2 {
        margin: 0;
        padding: 7px 0px;
    }
    
    .eqnRow {
        border-top: 1px solid #ddd;
        position: relative;

        &:last-child {
            border-bottom: 1px solid #ddd;
        }
    }
    
    .symbol {
        height: 36px;
        position: relative;
        width: 36px;
        
        input {
            border-right: 1px solid #ddd;
            font-size: 20px;
            padding: 0px;
            text-align: center;
        }
    }
    
    .value {
        height: 36px;
        left: 36px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    
    .eqnRowFlex {
        display: flex;
        height: 36px;
        
        .f1 {
            flex: 0 1 auto;
            line-height: 36px;
            padding: 0px 3px;
        }
        
        .f2 {
            flex: 1 1 auto;
            height: 100%;
        }
    }
    
    i {
        bottom: 2px;
        color: #fbb;
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        right: 2px;
    }
    
    input {
        border: 0;
        box-sizing: border-box;
        font: 300 14px "Open Sans";
        height: 100%;
        padding: 0px 4px;
        width: 100%;
    }
    
    p {
        font-size: 16px;
        margin: 7px;
        text-align: center;
    }
}